.linkExpired {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px; /* Increase font size */
    font-weight: bold; /* Make the text bold */
    color: #333; /* Optional: Set the text color */
    text-align: center;
    padding: 20px;
  }