.container {
    width: 17vw;
    /* background: brown; */
    height: 100vh;
    padding-top: 13.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    /* z-index: 110; */
    /* position: relative */
}
.dashboard, .links, .analytics, .settings {
    all:unset;
    text-align: left; /* This will center the text within each div */
    width: 90%; /* Ensures full width for text alignment */
    /* background-color: aqua; */
    padding: 8px 10px;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 600;
    border: 2px solid transparent;
    cursor: pointer;
  }
  .analytics {
    margin-bottom: 1rem;
  }
  .settings {
    border: 2px solid #F6F6F9;
    padding: 1.5rem 0;
    padding-left: 2rem;
    outline: none;
    width: 100%;
  }
  .dashboard:hover, .links:hover, .analytics:hover, .settings:hover {
    color: #1B48DA;
    border: 2px solid #F3F7FD;
    border-radius: 8px;
    background: #F3F7FD;
    transform: scale(1.03);
    transition: all 0.3s ease;
  }
  .settings:hover {
    width: 90%;
    padding-left: 1.5rem;
    
  }
 .active {
  background-color: #F3F7FD;
  border-radius: 6px;
  padding: 1rem 0;
 }
 .settings.active {
  padding: 1.5rem 0;
  padding-left: 2.5rem;
 }
 .logo {
  width: 17vw;
  height: 13vh;
  position: absolute;
  top: 0;
  cursor: pointer;
 }
 .logoImg {
  width: 100%;
  height: 100%;
 }
 @media (max-width: 768px) {
  .container {
    display: none;
  }
}