.container {
    display: flex;
    height: 100vh;
    font-family: "Manrope", "Poppins", "Sans-serif";
  }
  
  .heroImg {
    width: 45vw;
    position: relative;
    overflow: hidden;
  }
  
  .clouds {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .heroSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    position: relative;
  }
  
  .nav {
    display: flex;
    justify-content: end;
    top: 2rem;
    right: 3rem;
    width: 100%;
    margin-bottom: 2rem;
    gap: 1.5rem;
    position: absolute;
  }
  
  .signupLink,
  .loginLink {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  .signupLink {
    padding: 10px 14px;
    font-size: 16px;
    color: #3B3C51;
    font-weight: 600;
  }
  .loginLink {
    background: #1B48DA;
    padding: 10px 14px;
    font-size: 16px;
    border-radius: 6px;
    color: white;
  }
  .heading {
    color: #3B3C51;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 7.5rem;
  }
  
  .form {
    /* background-color: red; */
    padding: 2rem;
    border-radius: 8px;
    width: 80%;
    height: 80%;
  }
  ::placeholder {
    color: #B3B3B3;
    font-size: 20px;
  }
  .formGroup {
    margin-bottom: 1.5rem;
  }
  
  .formGroup label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .formGroup input {
    width: 100%;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: 1px solid #3B3C51;
  }
  
  .errorLabel {
    color: red;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
    margin-top: 0.25rem;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #1B48DA;
    color: white;
  }
  p {
    color: #3B3C51;
    padding-top: 0.5rem;
    font-weight: 700;
  }
  
  .registerLink {
    text-align: center;
    margin-top: 1rem;
    font-size: 16px;
  }
  
  .registerLink a {
    color: #3b5998;
    text-decoration: none;
  }
  
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .loader {
    width: 100vw;
    height: 100vh;
  }
  @media (max-width: 768px) {
    .heroImg {
      display: none;
    }
  }
  @media (max-width: 400px) {
    .heroImg {
      display: none;
    }
    .heroSection {
      padding: 2rem;
    }
    
    .nav {
      top: 1rem;
      right: 1.5rem;
      width: 100%;
      margin-bottom: 2rem;
      gap: 1rem;
    }
  
    .heading {
      color: #3B3C51;
      font-size: 20px;
      font-weight: 600;
      padding-top: 2rem;
      padding-bottom: 6.5rem;
    }
    
    .form {
      /* background-color: red; */
      padding: 0.3rem;
      width: 94%;
    }
    .formGroup {
      margin-bottom: 1.5rem;
    }
  }